# Clé API OpenAI (https://platform.openai.com/account/api-keys)
OPENAI_API_KEY=your_openai_api_key_here

# Identifiants du compte X (Tweetfree se connecte avec un vrai compte)
TWITTER_USERNAME=your_username_here
TWITTER_PASSWORD=your_password_here

# Infos Proxy (si utilisé, sinon laisser vide)
PROXY_IP=your_proxy_ip
PROXY_PORT=your_proxy_port
PROXY_USERNAME=your_proxy_username
PROXY_PASSWORD=your_proxy_password
